@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --maincolor:#FD7014;
    --secondcolor:#ba5009;
    --thirdcolor:#ff954f;
    --textcolor:#292929;
}
*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    font-family: "Inter", sans-serif;
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;    
   
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    z-index: 1000;
    background-color: white !important;

}
.logo{
    width: 150px;
    margin-left: 12px;
    
}
.logo img{
    width: 150%;
    height: 150%;
}
.emergency{
    
    position: absolute;
    top: 0.5rem;
    right: 7%;
    color: #ff0000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    display: inline-flex;
    gap: 15px;
}
.emergency a {
    color: #ff0000; 
    text-decoration: none; 
}

.emergency a:hover {
    color: #8e0909; 
}

.navbar a{
    color: var(--textcolor);
    font-size: 2rem;
    margin: 1rem;
    position: relative;
    transition: 0.5s;
}
.navbar a:hover{
    color: var(--maincolor);
}

.navbar a::after{
    content: "";
    background-color: var(--maincolor);
    width: 0;
    position: absolute;
    height: 0.2rem;
    left: 0;
    margin-top: 0.5rem;
    top: 100%;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}

#menu-bars{
    color: var(--textcolor);
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 1rem;
    display: none;
}
#menu-bars:hover{
    color: var(--maincolor);
}
.right-icons .btn{

    padding: 1.2rem 2rem;
    font-size: 1.7rem;
    background: var(--maincolor);
    color: white;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
}
.right-icons .btn:hover{
    background-color: var(--secondcolor);
}



.main-home{
    padding: 10rem 3%;
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    flex-wrap: wrap;
    gap: 1rem;
}
.home .home-left-content{
    flex: 1 1 40rem;
}


.home-left-content h2{
    font-size: 50px;
    margin-top: 7rem;
    color: rgba(255, 255, 255, 0.912);
    
    
}
.home-left-content p{
    margin-top: 6rem;
    font-size: 1.8rem;
    color:rgb(243, 244, 243);
    line-height: 3rem;
    
}

.home-btn{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
.home-btn a{
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: var(--maincolor);
    font-size: 1.7rem;
    color: white;
    transition: 0.5s ease;
}
.home-btn a:hover{
    padding: 1.5rem 2.5rem;
}


.homebtnsec{
    background:transparent !important;
    color: var(--textcolor) !important;
    border: 1px solid var(--maincolor);
}
.homebtnsec:hover{
    background-color: var(--secondcolor) !important;
    color: white !important;
}

.home .home-right-content{
    flex: 1 1 50rem;
}

.home .home-right-content img{
    width: 100%;
    margin-top: 15rem;
    ;
}

.technology{
    padding: 3rem 7%;
}

.main-technology{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: -100px;
}
.inner-technology{
    flex: 1 1 300px;
    padding: 3rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: url(images/backgroung-pattern-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 1;
}

.inner-technology span{
    width: 0;
    height: 100%;
    background-color: var(--maincolor);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
    
}
.inner-technology:hover span{
    width: 100%;
}




.inner-technology:hover i{
    
    color: white;
}
.inner-technology:hover h2{
    color: white;
}
.inner-technology:hover p{
    color: white;
}
.inner-technology i{
    font-size: 48px;
    color: var(--maincolor);
}

.inner-technology h2{
    font-size: 2.5rem;
    padding: 1rem 0;
}
.inner-technology p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1rem 0;
}



/* home section will end */

/* About us section  */
.main-about{
    padding: 2rem 7%;
    width: 100%;
    background-image: url(images/backgroung-pattern-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.main-about .about-heading{

    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: var(--maincolor);
    border-bottom: 2px solid var(--secondcolor);
    width: 200px;
    margin: 0 auto;
    padding: 2rem 0;

}
.inner-main-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.about-inner-content-left{
    flex: 1 1 40rem;
}
.about-inner-content-left img{
    width: 130%;
    padding: 1rem;
}
.about-inner-content{
    flex: 1 1 45rem;
}
.about-inner-content img{
    width: 100%;
}
.about-right-content h2{
    font-size: 30px;
    padding: 1.5rem 0;
    color: black;
    font-weight: bolder;
    line-height: 4rem;
}
.about-right-content p{
    font-size: 1.5rem;
    padding: 1.5rem 0;
    color: var(--textcolor);
    font-family: "Inter", sans-serif;
    text-align: left;
    line-height: 2.5rem;
}
.content{
    line-height: 2.5rem !important;
}
.aboutbtn{
    padding: 1.5rem 3rem;
    background-color:#4ec79a;
    border: 1px solid var(--maincolor);
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.5s all;
}
.aboutbtn:hover{
    background-color: var(--secondcolor);
    color: white;
    border:none;
    padding: 1.5rem 3.5rem;
}

.our-service{
    width: 100%;
    padding: 3rem 7%;
}
.service-heading h2{
    font-size: 40px;
    color: #FD7014;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 3rem;
}
.main-services{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    text-align: center;
}
.inner-services{
    flex: 1 1 300px;
    padding: 3rem 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 2px solid var(--textcolor);
    
}
.inner-services:hover{
    transform: translateY(-10px);
    border-bottom: 2px solid var(--maincolor);
    background-color: #f5f5f5;
}
.inner-services:hover .service-icon{
    width: 100px;
    height: 100px;
    border-radius: 0;
    background-color: var(--maincolor);
    
}
.inner-services:hover .service-icon i{
    color: white;
    transform: scale(1.1);
}

.service-icon{
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid var(--maincolor);
    background-color: #f5f5f5;
}
.service-icon i{
    font-size: 3rem;
    color: var(--maincolor);
    padding: 1rem;
}
.inner-services h3{
    font-size: 2rem;
    padding-top: 2rem;
}
.inner-services p{
    font-size: 1.5rem;
    padding: 1.5rem 0;
    line-height: 2.5rem;
    
}
.hygiene {
    display: flex; 
    justify-content: center; /* Center items */
    flex-wrap: wrap; 
    gap: 130px; 
    
}
/* services ends */
.main-review{
    padding: 2.5rem 7%;
    width: 100%;
    
}


.review-heading{
    text-align: center;
}

.review-heading h1{
    font-size: 40px;
    color: var(--maincolor);
    padding-bottom: 3rem;
}
.review-inner-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
    text-align: center;
   padding: 4rem 0;
    
}
.review-box{
    flex: 1 1 300px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0 50px 0 0;
    border: 2px solid var(--maincolor);
    cursor: pointer;
    transition: 1s;
}
.review-box:hover{
 
    border-radius: 50px 0 0 0;
    
}
.img1{
    border-radius: 70%;
    width: 90px;
    transition: 1s;
}

.review-box img{
    border-radius: 100%;
    width: 100px;
    transition: 1s;
}

.review-box:hover img{
    transform: scale(1.1);
}
.review-stars{
    padding: 1rem 0;
}
.review-stars i{
    font-size: 2rem;
    color: var(--secondcolor);
    margin: 0.2rem;
}
.review-box h2{
    font-size: 2rem;
    padding-top: 2rem;
}
.review-box p{
    font-size: 1.5rem;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
    line-height: 2.5rem;
}
footer{
    background-color: #c15107;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3{
    font-size: 48px;
}

footer .right{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links{
    display: flex;
    gap: 30px;
    font-size: large;
}

footer .right .links a{
    color: #ffffff;
    transition: color 0.3s ease;
}

footer .right .links a:hover{
    color: #fff;
}

footer .right .social{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social i{
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #fff;
}

footer .right .social i:hover{
    color: #f09c5f;
}

footer .right p{
    font-size: 13px;
    color: #ffffff;
}











/* .doc-poster:hover img{
    transform: translateY(-20px);
}

.doc-poster::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #f5f5f5 50%, transparent);
    z-index: 1;
    bottom: -220px;
    left: 0;
    transition: 0.5s;
}
.doc-poster:hover::after{
    bottom: -100px;
}
.details{
    color: black;
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    z-index: 2;
}
.doc-poster:hover .details{
    bottom: 30px;
} */










@media (max-width:768px) {

    html{
        font-size: 55%;
    }

    .right-icons{
        display: flex;
        align-items: center;
    }

    #menu-bars{
        
        display: initial;
    }

    header{
        padding: 2rem;
        background-color: white;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: white;
    }
    .navbar.active{
        left: 0;
    }
    .navbar a{
        display: block;
        margin: 2rem;
        padding: 1rem;
        border: 1px solid var(--textcolor);
    }

    .home .home-left-content{
        margin-top: 50px;
        padding: 2rem;
    }

    .home .home-left-content h2{
        font-size: 30px;
    }
    .main-technology{
        
        margin-top: 0;
    }

    .about-right-content h2{
        font-size: 20px;
    }
    
} 
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


.slider{
    padding-top: ;
    width: 1000px;
    max-width: 100vw;
    height: 400px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    padding-top: 180px;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1000px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(44, 43, 43, 0.333);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    z-index: 1;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #272525;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 0;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fd9876;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
    z-index: 1;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
 

 
/*--blog--------------------------*/
#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.blog-heading span{
    color: #f33c3c;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
 
.blog-box{
    width:350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px 20px;
 
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #f33c3c;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #c74242;
    transition: all ease 0.3s;
}
 
 
@media(max-width:1250px){
 
    .blog-box{
        width: 300px;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
 
@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}
 

.login-popup{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1099;
	background-color:rgba(0,0,0,0.6);
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease;
}
.login-popup.show{
	visibility:visible;
	opacity: 1;
}
.login-popup .box{
	background-color:#ffffff;
	width: 750px;
	position: absolute;
	left: 50%;
	top:50%;
	transform:translate(-50%,-50%);
	display: flex;
	flex-wrap: wrap;
	opacity: 0;
	margin-left: 50px;
	transition: all 1s ease;

}
.login-popup.show .box{
	opacity: 1;
	margin-left: 0;
}
.login-popup .box .img-area{
	flex:0 0 50%;
	max-width: 50%;
	position: relative;
	overflow: hidden;
	padding:30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-popup .box .img-area h1{
	font-size: 30px;
}
.login-popup .box .img-area .img{
	position: absolute;
	left: 25px;
	top:0;
	width: 100%;
	height: 100%;
	background-image: url('images/logo12.png');
	background-size: cover;
	background-position: center;
	animation: zoomInOut 7s linear infinite;
	z-index: -1;

}
@keyframes zoomInOut{
	0%,100%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
}
.login-popup .box .form{
	flex:0 0 50%;
	max-width: 50%;
	padding:40px 30px;
}

.login-popup .box .form h1{
	color:#000000;
	font-size: 30px;
	margin:0 0 30px;
}
.login-popup .box .form .form-control{
	height: 45px;
	margin-bottom: 30px;
	width: 100%;
	border:none;
	border-bottom:1px solid #cccccc;
	font-size: 15px;
	color:#000000;
}
.login-popup .box .form .form-control:focus{
	outline: none;
}
.login-popup .box .form label{
	font-size: 15px;
	color:#555555;
}
.login-popup .box .form .btn{
	width: 100%;
	background-color: #ef6712;
	margin-top:40px;
	height: 45px;
	border:none;
	border-radius: 25px;
	font-size: 15px;
	text-transform: uppercase;
	color:#ffffff;
	cursor: pointer;
}
.login-popup .box .form .btn:focus{
	outline: none;
}

.login-popup .box .form .close{
	position: absolute;
	right: 10px;
	top:0px;
	font-size: 30px;
	cursor: pointer;
}

/*responsive*/
@media(max-width: 767px){
	.login-popup .box{
		width: calc(100% - 30px);
	}
	.login-popup .box .img-area{
		display: none;
	}
	.login-popup .box .form{
		flex: 0 0 100%;
        max-width: 100%;
	}
}
